{% extends "base.html" %}

{% block content %}
    <p>This is the home page of Zafrani SaaS.</p>
    <p>Welcome to our platform where you can manage your SaaS applications efficiently.</p>
{% endblock content %}

{% block parah %}
    <p>Explore our features and get started with your SaaS journey today!</p>
{% endblock parah %}

{% block about %}
    {{ path_qs_count }} queries have been made to the {{request.path}}.
    {{ qs_counts }} Are the total queries made to the database.
{% endblock about %}